<div class="app-underlay"></div>
<div class="app-container">
  <h1>A 'Free' Trade Deal</h1>
  <h2>Boris Johnson is negotiating a trade deal with Donald Trump</h2>
  <h2 class="redacted"><i>"Everything is on the table: NHS, or anything else." - Donald Trump</i></h2>
  <p class="redacted">The Conservatives tried to sell off the NHS and tear the country's services apart behind closed doors. 
    They prevented the public from seeing these documents, only to be revealed <i>after</i> the election.<p>
  <h2 class="unredacted"><i><a target="_blank" href="https://labour.org.uk/press/jeremy-corbyn-reveals-unredacted-documents-about-secret-us-uk-trade-talks/">Today, Jeremy Corbyn destroyed the Tory lies and revealed the truth</a><br/>
  You can't trust the Tories with our NHS</i></h2>  
  <div class="tab-container">
    <mat-tab-group mat-align-tabs="right" disableRipple>
      <mat-tab *ngFor="let pdf of pdfs" label="{{pdf.name}}" class="pdf-tab">
        <ng-template matTabContent>
            <pdf-viewer [show-borders]="true" [original-size]="true" [fit-to-page]="true" [autoresize]="true" [src]="getUrl(pdf)"></pdf-viewer>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
  <router-outlet></router-outlet>
</div>
<div class="app-footer">
    <div>Built with ❤️ by volunteers at <a href="https://www.codersforlabour.com" target="_blank">Coders For Labour</a></div>
</div>